.background {
    background-image: url("images/fundo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo {
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto e a imagem */
}

h2 {
    margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}

.logo img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    float: right; /* Posiciona a imagem à direita */

