<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/presenca">Escola Octógno - Sistema de Presença</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/presenca">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alunos">Alunos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Matérias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/matematica">Matemática</a></li>
            <li><a class="dropdown-item" href="/portugues">Português</a></li>
            <li><a class="dropdown-item" href="/ciencias">Ciências</a></li>
            <li><a class="dropdown-item" href="/geografia">Geografia</a></li>
            <li><a class="dropdown-item" href="/historia">História</a></li>
            <li><a class="dropdown-item" href="/artes">Artes</a></li>
            <li><a class="dropdown-item" href="/educacaofisica">Educação Física</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Criar conta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>